body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media (max-width: 575.98px) { 
  .myheader {
    height: 100px;
    background-color : rgb(52, 52, 52);
    margin-bottom: 15px;
 

  }

  .sidebar  {
      background-color : rgb(52, 52, 52);
      width : 0;
      height: 100%;
      overflow-y: hidden;
      z-index: 2000;
      transition: .7s;
      
      
  }
 }
 @media (min-width: 576px)  {
  .myheader {
    height: 120px;
    margin-bottom: 20px;
    background-color : rgb(52, 52, 52);
  
  }
  .sidebar  {
    top : 120px;
    width: 15%;
    background-color : rgb(52, 52, 52);
    height: 100%;
    overflow-y: hidden;
    z-index: 2000;
    
    
    
}
  }
  .sidebar a:hover {
    
    color: white;
  }
  .sidebar a{
    text-decoration: none;
    color : rgb(170, 170, 170);
  }

